<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= "このページは存在しません" %>
      </p>
      <div class="prototype__manage">
        <%= link_to "トップページへ戻る", root_path, class: :prototype__btn %>
      </div>
    </div>
  </div>
</main>
